<router-outlet></router-outlet>
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="/__/firebase/7.18.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="/__/firebase/7.18.0/firebase-analytics.js"></script>

<!-- Initialize Firebase -->
<script src="/__/firebase/init.js"></script>
<!-- <footer class="footer">
    <div class="footer_container d-flex flex-xl-row flex-column align-items-start justify-content-start">
        <div class="newsletter_container">
            <div class="newsletter_title"><h2>Subscribe for Hydro updates!</h2></div>
            <form action="#" id="newsletter_form" class="newsletter_form">
                <input type="email" class="newsletter_input" placeholder="Your Twitter @" required="required">
                <button class="newsletter_button">Subscribe</button>
            </form>
        </div>
        <div class="footer_lists d-flex flex-sm-row  flex-column align-items-start justify-content-start ml-xl-auto">

           
            <div class="footer_list">
                <div class="footer_list_title">Useful Links</div>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="https://genius.com/artists/Hydro-bloo">Genius</a></li>                       
                </ul>
            </div>

            
            <div class="footer_list">
                <div class="footer_list_title">Mixtapes</div>
                <ul>
                    <li><a href="https://soundcloud.com/hydrolics/sets/moon-musik">Moon Music</a></li>
                    <li><a href="https://soundcloud.com/hydrolics/sets/mad-scientist">Mad Scientist</a></li>
                    <li><a href="https://soundcloud.com/hydrolics/sets/lite-bloo">LITE Bloo</a></li>
          
                </ul>
            </div>

            <div class="footer_list">
                <div class="footer_list_title">Connect</div>
                <ul>
                    <li><a href="https://soundcloud.com/hydrolics">Soundcloud</a></li>
                    <li><a href="https://www.instagram.com/bloohunnits">Instagram</a></li>
                    <li><a href="https://twitter.com/hydrobloo">Twitter</a></li>              
                </ul>
            </div>

        </div>
    </div>
</footer>  -->