<div class="super_container"> 
  

   
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class = "navgif" class="navbar-brand" href="#">
      <img class = "navgif" src="https://media3.giphy.com/media/SU8dY3jYe4NYfK5cVO/giphy.gif?cid=4d1e4f299fef06ebbf45cc5215f890affef3cd69ea644f19&rid=giphy.gif" width="30" height="30" alt="">
    </a>
    <div class="box">
      <div class="inner">
        <span>HydroBloo.Com</span>
      </div>
      <div class="inner">
        <span>HydroBloo.Com</span>
      </div>
    </div>
      <!-- <a id = "title" class="navbar-brand" href="#">HydroBloo.com</a> -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/music">Music</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/socials">Socials</a>
          </li>
        </ul>
      </div>
  </nav>

 
    


 <div id = "homebody">
    <div id = "imgdiv">
    <img id = "pic" src="https://media3.giphy.com/media/J1pu7CpEDrGNMnCQJT/giphy.gif?cid=4d1e4f29f913f74c5f7fac974837e1ade2741684abad9998&rid=giphy.gif">
    </div>
    <div id = "bio">
      <p> Hydro was sent to Baltimore, Maryland on planet Earth from an alternate multiverse on a mission to innovate sonic frequencies that will alter this dimension and interplanetary solar system. Hydro is loved by many on Earth, but understood by few. </p> 
    </div>
 
</div>
    <footer class="footer">
        <div class="footer_container d-flex flex-xl-row flex-column align-items-start justify-content-start">
            <div class="newsletter_container">
                <div class="newsletter_title"><h2>Subscribe for Hydro updates!</h2></div>
                <form action="#" id="newsletter_form" class="newsletter_form">
                    <input [value]="screenName" type="email" class="newsletter_input" placeholder="Your Twitter @" required="required">
                    <button class="newsletter_button">Subscribe</button>
                </form>
            </div>
            <div class="footer_lists d-flex flex-sm-row  flex-column align-items-start justify-content-start ml-xl-auto">

               
                <div class="footer_list">
                    <div class="footer_list_title">Useful Links</div>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="https://genius.com/artists/Hydro-bloo">Genius</a></li>                       
                    </ul>
                </div>

                
                <div class="footer_list">
                    <div class="footer_list_title">Mixtapes</div>
                    <ul>
                        <li><a href="https://soundcloud.com/hydrolics/sets/moon-musik">Moon Music</a></li>
                        <li><a href="https://soundcloud.com/hydrolics/sets/mad-scientist">Mad Scientist</a></li>
                        <li><a href="https://soundcloud.com/hydrolics/sets/lite-bloo">LITE Bloo</a></li>
              
                    </ul>
                </div>

                <div class="footer_list">
                    <div class="footer_list_title">Connect</div>
                    <ul>
                        <li><a href="https://soundcloud.com/hydrolics">Soundcloud</a></li>
                        <li><a href="https://www.instagram.com/bloohunnits">Instagram</a></li>
                        <li><a href="https://twitter.com/hydrobloo">Twitter</a></li>              
                    </ul>
                </div>

            </div>
        </div>
    </footer> 
</div>

