<div class="super_container"> 
  

   
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class = "navgif" class="navbar-brand" href="#">
      <img class = "navgif" src="https://media3.giphy.com/media/SU8dY3jYe4NYfK5cVO/giphy.gif?cid=4d1e4f299fef06ebbf45cc5215f890affef3cd69ea644f19&rid=giphy.gif" width="30" height="30" alt="">
    </a>
    <div class="box">
      <div class="inner">
        <span>HydroBloo.Com</span>
      </div>
      <div class="inner">
        <span>HydroBloo.Com</span>
      </div>
    </div>
      <!-- <a id = "title" class="navbar-brand" href="#">HydroBloo.com</a> -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/">Home </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/music">Music <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/socials">Socials</a>
          </li>
        </ul>
      </div>
    </nav>
 
  
     
 
 
   <div id ="musicbody">
  
  
    <div id ="musiccontent">
          <div id ="soundcloudplayer">
              <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1016421670&color=%2315d5ff&auto_play=true&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
          <div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/hydrolics" title="Hydro Bloo (@bloohunnits)" target="_blank" style="color: #cccccc; text-decoration: none;">Hydro Bloo (@bloohunnits)</a>  <a href="https://soundcloud.com/hydrolics/sets/moon-musik" title="Moon Musik" target="_blank" style="color: #cccccc; text-decoration: none;">Moon Musik</a>
      </div>
    </div> 
    </div>
  
    <h1 class = "myheader">Go Bump Bloo!</h1>
  
  
      <div id = "musicdiv">
        <a type = "input" href="https://music.apple.com/us/artist/hydro-bloo/1334094081">
          <img class = "iconimg" alt="W3Schools" src="https://media0.giphy.com/media/hWXvmhqVZKl92WUWgG/giphy.gif?cid=4d1e4f29d2ff9c026d13edaa15ca1c80157736d0ee75af31&rid=giphy.gif">
        </a>
        <a type = "input" href="https://open.spotify.com/artist/2Hjwc30EzgCvWACvjaoyY6?si=MTxhp2uoSGWAqTinCMSO_A">
          <img class = "iconimg" alt="W3Schools" src="https://media1.giphy.com/media/WoieQ5Zhb3MDMljoIA/giphy.gif?cid=4d1e4f29d2ff9c026d13edaa15ca1c80157736d0ee75af31&rid=giphy.gif">
        </a>
        <a type = "input" href="https://tidal.com/browse/artist/9425048">
          <img class = "iconimg" alt="W3Schools" src="https://media2.giphy.com/media/UtiUjU6ldRPYitJ5R7/giphy.gif?cid=4d1e4f29d2ff9c026d13edaa15ca1c80157736d0ee75af31&rid=giphy.gif">
        </a>
        <a type = "input" href="https://play.google.com/store/music/artist?id=A6q5lymfzrdyxuxco7za47wdkli">
          <img class = "iconimg" alt="W3Schools" src="https://media2.giphy.com/media/Sss0OMaha0YZHNBgTy/giphy.gif?cid=4d1e4f29d2ff9c026d13edaa15ca1c80157736d0ee75af31&rid=giphy.gif">
        </a>
        <a type = "input" href="https://www.deezer.com/en/artist/13929145">
          <img class = "iconimg" alt="W3Schools" src="https://media3.giphy.com/media/ej6eclTh5VPyORg3Pj/giphy.gif?cid=4d1e4f29d2ff9c026d13edaa15ca1c80157736d0ee75af31&rid=giphy.gif">
        </a>
        <a type = "input" href="https://www.pandora.com/artist/hydro-bloo/ARkftg9X6n5bXjm">
          <img class = "iconimg" alt="W3Schools" src="https://media3.giphy.com/media/W3U4TVqrTjJXTHYqwm/giphy.gif?cid=4d1e4f29d2ff9c026d13edaa15ca1c80157736d0ee75af31&rid=giphy.gif">
        </a>
    </div>
  </div>




     <footer class="footer">
         <div class="footer_container d-flex flex-xl-row flex-column align-items-start justify-content-start">
             <div class="newsletter_container">
                 <div class="newsletter_title"><h2>Subscribe for Hydro updates!</h2></div>
                 <form action="#" id="newsletter_form" class="newsletter_form">
                     <input type="email" class="newsletter_input" placeholder="Your Twitter @" required="required">
                     <button class="newsletter_button">Subscribe</button>
                 </form>
             </div>
             <div class="footer_lists d-flex flex-sm-row  flex-column align-items-start justify-content-start ml-xl-auto">
 
                
                 <div class="footer_list">
                     <div class="footer_list_title">Useful Links</div>
                     <ul>
                         <li><a href="index.html">Home</a></li>
                         <li><a href="https://genius.com/artists/Hydro-bloo">Genius</a></li>                       
                     </ul>
                 </div>
 
                 
                 <div class="footer_list">
                     <div class="footer_list_title">Mixtapes</div>
                     <ul>
                         <li><a href="https://soundcloud.com/hydrolics/sets/moon-musik">Moon Music</a></li>
                         <li><a href="https://soundcloud.com/hydrolics/sets/mad-scientist">Mad Scientist</a></li>
                         <li><a href="https://soundcloud.com/hydrolics/sets/lite-bloo">LITE Bloo</a></li>
               
                     </ul>
                 </div>
 
                 <div class="footer_list">
                     <div class="footer_list_title">Connect</div>
                     <ul>
                         <li><a href="https://soundcloud.com/hydrolics">Soundcloud</a></li>
                         <li><a href="https://www.instagram.com/bloohunnits">Instagram</a></li>
                         <li><a href="https://twitter.com/hydrobloo">Twitter</a></li>              
                     </ul>
                 </div>
 
             </div>
         </div>
     </footer> 
 </div>
 
 